/* Leah Schwartz */


body{
    text-align:center;
}
#grid{
    text-align: center;
    width: 100%;
    height: 100%;
    display:block;
}

.liveSquare{
    background-color:black;
    border-style: solid;
    border-color: gray;
    display: inline-block;
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}

.deadSquare{
    background-color: white;
    border-style: solid;
    border-color: gray;
    display: inline-block;
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}